@import "tailwindcss";

:root {
  --color-primary: #003526;
  --color-primary-container: #054d3a;
  --color-primary-fixed: #b0f0d6;
  --color-primary-fixed-dim: #95d3ba;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #7fbda5;
  --color-on-primary-fixed-variant: #1a5c3f;
  --color-surface: #f9f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f1f3ff;
  --color-surface-container: #e9edff;
  --color-surface-container-high: #e1e8fd;
  --color-on-surface: #141b2b;
  --color-on-surface-variant: #3f4945;
  --color-outline-variant: #bfc9c4;
  --color-secondary: #555f70;
  --color-secondary-container: #d6e0f4;
  --color-secondary-fixed: #d9e3f7;
  --color-on-secondary-fixed-variant: #3d4758;
  --color-tertiary: #4e2013;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-container: var(--color-primary-container);
  --color-primary-fixed: var(--color-primary-fixed);
  --color-primary-fixed-dim: var(--color-primary-fixed-dim);
  --color-on-primary: var(--color-on-primary);
  --color-on-primary-container: var(--color-on-primary-container);
  --color-on-primary-fixed-variant: var(--color-on-primary-fixed-variant);
  --color-surface: var(--color-surface);
  --color-surface-container-lowest: var(--color-surface-container-lowest);
  --color-surface-container-low: var(--color-surface-container-low);
  --color-surface-container: var(--color-surface-container);
  --color-surface-container-high: var(--color-surface-container-high);
  --color-on-surface: var(--color-on-surface);
  --color-on-surface-variant: var(--color-on-surface-variant);
  --color-outline-variant: var(--color-outline-variant);
  --color-secondary: var(--color-secondary);
  --color-secondary-container: var(--color-secondary-container);
  --color-secondary-fixed: var(--color-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--color-on-secondary-fixed-variant);
  --color-tertiary: var(--color-tertiary);
  --color-error: var(--color-error);
  --color-error-container: var(--color-error-container);
  --color-on-error-container: var(--color-on-error-container);
  --font-headline: var(--font-space-grotesk);
  --font-body: var(--font-inter);
  --font-label: var(--font-manrope);
}

body {
  background: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}
